/* variables */
:root {
  --tomato: #ff6257;
  --slate: #242742;
  --charcoal: #6d7f97;
  --grey: #9294a0;
  --white: #ffffff;
  --blue: #3e52a3;
}

/* fonts */
@font-face {
  font-family: 'Roboto-400';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-700';
  src: url('fonts/Roboto-Bold.ttf');
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto-400';
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}

/* hide */
@media screen and (min-width: 1px) { body { display: none; } }

/* basic/mobile style */
@media screen and (min-width: 301px) {
  body {
    display: block;
    width: 100%;
    height: auto;
    background: var(--slate);
  }

  main {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
  }

  section {
    width: 100%;
    height: auto;
    background: var(--white);
  }

  img {
    width: 100%;
    height: auto;
  }

  article {
    width: 100%;
    height: auto;
    padding: 40px 24px;
  }

  h1 {
    font-family: 'Roboto-700';
    font-size: 36px;
  }

  .text p { margin: 24px 0; }

  ul {
    margin-bottom: 12px;
    list-style: inside url("images/icon-list.svg");
  }

  li { padding-bottom: 12px; }
  form * { display: block; }

  label, #error {
    font-family: 'Roboto-700';
    font-size: 12px;
  }

  #error {
    float: right;
    color: red;
    opacity: 0;
  }

  input[type="text"] {
    margin: 8px 0 24px;
    outline: none;
    border: 1px solid var(--charcoal);
    width: 100%;
    border-radius: 10px;
    padding: 16px 24px;
  }

  input[type="text"]:focus { border-color: var(--slate); }

  .warning {
    border-color: var(--tomato) !important;
    background: rgba(255, 99, 71, 0.3) !important;
    color: var(--tomato) !important;
  }

  input[type="submit"], button {
    border: none;
    width: 100%;
    border-radius: 10px;
    background: var(--slate);
    padding: 16px 24px;
    font-family: 'Roboto-700';
    color: var(--white);
  }

  #modal {
    display: none;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--white);
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .modal-text {
    margin: 0 auto;
    max-width: 400px;
  }

  h2 {
    margin-top: 24px;
    font-family: 'Roboto-700';
    font-size: 36px;
    line-height: 1;
  }

  #modal p { margin: 24px 0 30px; }

  #myEmail {
    font-family: 'Roboto-700';
    color: var(--slate);
  }

  footer {
    background: var(--white);
    padding: 5px;
    text-align: center;
  }

  footer, footer a { font-size: 12px; }
  footer a { color: var(--blue); }
}

/* laptop style */
@media screen and (min-width: 901px) {
  main { max-width: unset; }

  section {
    margin: 60px auto;
    width: 70%;
    max-width: 900px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--white);
    padding: 30px;
  }

  article {
    margin-right: 30px;
    width: 50%;
    padding: 0;
  }

  input[type="submit"]:hover, button:hover {
    background-image: linear-gradient(to right, #FF527B, #FF6A3A);
    cursor: pointer;
  }

  #modal {
    background: var(--slate);
    padding: 0;
    justify-content: center;
  }

  .modal-text {
    margin: unset;
    width: 45%;
    height: auto;
    border-radius: 20px;
    background: var(--white);
    padding: 48px;
  }
}

/* desktop style */
@media screen and (min-width: 1201px) {
  article { padding: 0 30px; }
  h1, h2 { font-size: 48px; }

  .modal-text {
    width: 35%;
    max-width: 450px;
  }
}